[submodule "Submodules/CkCommons"]
	path = Submodules/CkCommons
	url = https://github.com/CordeliaMist/CkCommons.git
	branch = main
[submodule "Submodules/OtterGui"]
	path = Submodules/OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
	branch = main
[submodule "Submodules/GagspeakAPI"]
	path = Submodules/GagspeakAPI
	url = https://github.com/Project-GagSpeak/api.git
	branch = main
[submodule "Submodules/Penumbra.API"]
	path = Submodules/Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api.git
	branch = main
[submodule "Submodules/Penumbra.String"]
	path = Submodules/Penumbra.String
	url = https://github.com/Ottermandias/Penumbra.String.git
	branch = main
[submodule "Submodules/Penumbra.GameData"]
	path = Submodules/Penumbra.GameData
	url = https://github.com/Ottermandias/Penumbra.GameData.git
	branch = main
[submodule "Submodules/GlamourerAPI"]
	path = Submodules/GlamourerAPI
	url = https://github.com/Ottermandias/Glamourer.Api.git
	branch = main
[submodule "Submodules/LociAPI"]
	path = Submodules/LociAPI
	url = https://github.com/CordeliaMist/Loci.Api.git
[submodule "Submodules/Luna"]
	path = Submodules/Luna
	url = https://github.com/Ottermandias/Luna.git
	branch = main
